input {
  height: 38px;
  margin: 0;
  padding: 0;
  border: 1px solid $color-mono100;
  padding: 0 10px;

  &:focus {
    border: 1px solid $color-mono100;

    outline: unset;
  }

  &::placeholder {
    color: $color-mono100;
    font-style: italic;
  }
}
