.navigation {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  display: flex;

  justify-content: center;
  width: 100%;
  justify-content: center;
  padding: 10px 0;

  &--container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &--links {
    padding: 10px 0;
  }

  &--link {
    color: $color-solid-white;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    transition: color 0.35s;
    text-transform: uppercase;
    margin: 0 20px;

    img {
      height: 16px;
      filter: invert(1);
    }

    &:hover {
      color: $color-secondary;

      img {
        filter: invert(84%) sepia(46%) saturate(367%) hue-rotate(355deg)
          brightness(101%) contrast(98%);
      }

      &::after {
        opacity: 1;
        z-index: 200;
        transform: scale(1);
      }
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 200;
      left: 0;
      display: inline-block;
      height: 16px;
      width: 100%;
      border-bottom: 3px solid;
      border-color: $color-secondary;
      margin-top: 10px;
      opacity: 0;
      transition: opacity 0.35s, transform 0.35s;
      transform: scale(0, 1);
    }
  }
}
