.section {
  &--container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px auto;
  }

  &--text {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px auto;
    align-items: center;
  }

  &--title {
    position: relative;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px auto;
    align-items: center;
    margin-bottom: 92px;

    &::after {
      bottom: -43px;
      left: calc(50% - 30px);
      position: absolute;

      width: 60px;
      height: 0;
      border: 1.5px solid $color-primary;
      background-clip: padding-box;
      background-color: $color-primary;
      content: '';
    }
  }
}
